@import "tailwindcss";

:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

.balkan-menu {
  border-radius: 8px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}